.main-page {
  padding: 20px;
  background-color: #FFFFFF;
  max-width: 30%;
  margin: auto;
  background-color: #F5F5F5;
}

.main-page h2 {
  font-size: 36px;
  color: #000;
  margin-bottom: 1rem;
}

.card-customization {
  border: 1px solid #D3D3D3;
  padding: 20px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.card-customization h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-customization button {
  background-color: #00aae6;
  color: #FFFFFF;
  border-radius: 5px;
}

.card-customization input[type="file"] {
  margin: 15px 0;
}

.main-page {
  padding: 20px;
}

.cards-container {
  display: inline;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 30rem;
  padding-left: 30rem;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
